/* ーーーーーーーーーーーーーーーーーー

reset.css

ーーーーーーーーーーーーーーーーーー */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0vw;
    min-height: 0;
}

/* hidden 属性が付いているが until-found でない要素を、強制的に非表示 */
:where([hidden]:not([hidden='until-found'])) {
    display: none !important
}

/* モバイルブラウザでの自動文字サイズ調整を無効 */
/* 要素（とその子孫）に「ダークモード」と「ライトモード」の両方に対応していることを示す */
:where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light
}

/* ユーザーの環境が “アニメーションを減らさない” 設定になっている場合、:focus-within 状態の <html> 要素には scroll-behavior: smooth; を適用 */
@media (prefers-reduced-motion:no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth;
    }
}

/* 行の高さ（line-height）を 1.5 に設定 */
/* フォントファミリーを system-ui（システムフォント）と sans-serif に設定 */
/* WebKit系ブラウザ（SafariやChromeなど）で文字を滑らかに描画 */
:where(body) {
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* 親要素から引き継ぎ */
:where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
}

:where(textarea) {
    resize: vertical;
    resize: block;
}

/* 要素に対して、マウスカーソルを pointer（指の形）に設定 */
:where(button, label, select, summary, [role='button'], [role='option']) {
    cursor: pointer;
}

/* :disabled が指定された要素に対して、カーソルを not-allowed（禁止マーク）に設定 */
:where(:disabled) {
    cursor: not-allowed;
}
/* 直接の子要素として :disabled な input を持つ label・直後に :disabled な input を持つ label要素に対して、マウスカーソルを not-allowed（禁止マーク）に設定 */
:where(label:has(>input:disabled), label:has(+input:disabled)) {
    cursor: not-allowed;
}

:where(button) {
    border-style: solid;
}

/* a（アンカータグ）要素に対して、テキストの色を親要素から継承し、下線のオフセット（位置のずれ）を .2ex に設定 */
:where(a) {
    color: inherit;
    text-underline-offset: .2ex;
}

/* ul（順不同リスト）および ol（順序付きリスト）の list-style を無効化（非表示） */
:where(ul, ol) {
    list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}

/* ブロック方向のサイズ（高さ）は自動、インライン方向の最大サイズ（幅）は100%に設定 */
:where(img, picture, svg) {
    block-size: auto;
    max-inline-size: 100%;
}

/* テキストが要素の幅を超えるときに自動で単語を折り返すように設定 */
:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

/* 行の高さをフォントサイズと固定値の合計に設定 */
:where(h1, h2, h3) {
    line-height: calc(1em + 0.5rem);
}

/* 境界線（border）をすべて消去し、ブロックの上端にのみ 1ピクセルの実線を表示し（border-block-start）、線の色を親要素のテキストカラーに合わせ（color: inherit）、要素自体の高さ（block-size）はゼロにし、はみ出したコンテンツが見えるように設定 */
:where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
}

/* 枠線（アウトライン）を「Highlight」という色で3ピクセルの実線にします。アウトラインの位置を要素の外側に2ピクセルずらします。スクロール時に、その要素の上側（または下側）に ビュー高さの10%分の余白 を確保 */
:where(:focus-visible) {
    outline: 3px solid Highlight;
    outline-offset: 2px;
    scroll-margin-block: 10vh;
}

/* フォーカス中やアクティブ状態でない .visually-hidden クラスの要素に対して、視覚的に画面から取り除くためのスタイルを適用 */
:where(.visually-hidden:not(:focus-within, :active)) {
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* ーーーーーーーーーーーーーーーーーー

style02.css

ーーーーーーーーーーーーーーーーーー */
/* CSSで独自のフォントを定義 */
@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/Noto_sans_JP_400.woff2") format("woff2"), url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/Noto_sans_JP_400.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/Noto_sans_JP_500.woff2") format("woff2"), url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/Noto_sans_JP_500.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/Noto_sans_JP_700.woff2") format("woff2"), url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/Noto_sans_JP_700.woff") format("woff");
}

@font-face {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/orbitron_Regular.woff2") format("woff2"), url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/orbitron_Regular.woff2") format("woff");
}

@font-face {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/orbitron_700.woff2") format("woff2"), url("https://lp-coaching.techelite.jp/coto21/extra/main/fonts/orbitron_700.woff2") format("woff");
}

/* ルート要素（:root）に、カスタムプロパティ --background-size を cover として定義 */
:root {
    --background-size: cover;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", "sans-serif";
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #000;
    box-sizing: border-box;
    /* 横方向（x軸）のスクロールを無効化 */
    overflow-x: hidden;
    /* 縦方向（y軸）は常にスクロールバーを表示 */
    overflow-y: scroll;
    /* iOS などでスムーズなスクロールができるように -webkit-overflow-scrolling: touch を設定 */
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    /* フォーカス時のアウトライン（点線など）をなくす */
    outline: none;
}

input::-moz-placeholder {
    color: #CDCDCD;
}

input::placeholder {
    color: #CDCDCD;
}

/* input 要素が -webkit-autofill（自動入力）状態のとき、その背景を白色に上書きする */
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff inset;
}

/* 縦方向の位置揃えを中央に設定 */
img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    /* SafariなどWebKit系のボタン初期スタイルをリセット * */
    -webkit-appearance: none;
    /* Firefoxのボタン初期スタイルをリセット */
    -moz-appearance: none;
    /* 見た目のブラウザデフォルトを全体的に無効にする */
    appearance: none;
    letter-spacing: 0.1em;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}

.limited-width-wide {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 768px) {
    .limited-width-wide {
        max-width: 575px;
    }
}

.limited-width {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 768px) {
    .limited-width {
        max-width: 575px;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* .product__title {
    font-family: "Orbitron";
    font-weight: 400;
} */

.sec__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.448125;
    text-align: center;
    letter-spacing: 0.1em;
}
@media (max-width: 768px) {
    .sec__title {
        font-size: 22px;
        line-height: 1.448181818;
    }
}

.sp {
    display: none;
}
@media (max-width: 768px) {
    .sp {
        display: block;
    }
}

.pc {
    display: block;
}
@media (max-width: 768px) {
    .pc {
        display: none;
    }
}

/* ーーーーーーーーーーーーーーーーーー

.modal__box

ーーーーーーーーーーーーーーーーーー */
.modal__box {
    position: fixed;
    z-index: 7777;
    display: none;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    letter-spacing: -0.01em;
    padding: 52px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
@media (max-width: 768px) {
    .modal__box {
        /* 画面の高さから50px引いた高さが上限 */
        max-height: calc(100vh - 50px);
        /* 縦方向のスクロールを有効にする */
        overflow-y: auto;
        padding: 24px;
    }
}

.modal__box__wrapper {
    max-width: 748px;
    margin: 0 auto;
}

.modal__box__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    cursor: pointer;
}
@media (max-width: 575px) {
    .modal__box__close {
        top: 20px;
        right: 15px;
        width: 15px;
    }
}

.modal__box__title {
    /* clamp() 関数を使って、最小 1.375rem、最大 2rem、そして画面幅に応じて伸縮する中間値が設定 */
    font-size: clamp(1.375rem, 1.1549rem + 0.939vw, 2rem);
    font-weight: 700;
}

.modal__box__inner {
    width: 100%;
    height: 50px;
    background: linear-gradient(125.88deg, #128FCD -1.47%, #B3D6E0 50.9%, #DC24B1 100.83%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
    font-weight: 700;
    color: #fff;
}
@media (max-width: 768px) {
    .modal__box__inner {
        height: 40px;
        margin-top: 28px;
    }
}

.modal__box__inner.second {
    margin-top: 32px;
}
@media (max-width: 768px) {
    .modal__box__inner.second {
        margin: 0;
    }
}

.modal__box p {
    margin: 40px 0;
}
@media (max-width: 768px) {
    .modal__box p {
        text-align: left;
        margin: 28px 0;
        letter-spacing: 0.1em;
    }
}

.modal__box__text {
    font-weight: 700;
    text-align: left;
    /* 上に24pxの余白を設定、右・下・左は0 */
    margin: 24px 0 0 0 ;
}
@media (max-width: 768px) {
    .modal__box__text {
        margin: 20px 0 28px 0;
        letter-spacing: -0.01em;
    }
}

.modal__link {
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .modal__link {
        align-items: center;
        /* 子要素を縦並び＋順序を逆に */
        flex-direction: column-reverse;
    }
}

.modal__link__btn {
    width: 18.75rem;
    min-width: 300px;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.8;
    font-weight: 700;
    /* 要素をインライン表示にし、内部をフレックスボックスで整列 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(125.88deg, #128FCD -1.47%, #B3D6E0 50.9%, #DC24B1 100.83%);
    width: 255px;
    min-width: 200px;
    text-shadow: 0px, 1px, 6px, 0px rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .modal__link__btn {
        width: 100%;
        max-width: 287px;
    }
}

.modal__link__btn.back {
    background: #818181;
    margin-right: 2.5rem;
}
@media (max-width: 768px) {
    .modal__link__btn.back {
        margin: 1.25rem 0 0 0;
    }
}

.modal__form table {
    width: 100%;
    margin: 40px 0;
    text-align: left;
}
@media (max-width: 768px) {
    .modal__form table {
        margin: 0;
    }
}

.modal__form th {
    width: 30%;
    font-weight: 400;
}

.modal__form td {
    width: 70%;
}
@media (max-width: 768px) {
    .modal__form td {
        margin: 16px 0;
    }
}
@media (max-width: 768px) {
    .modal__form th, .modal__form td {
        width: 100%;
        display: block;
    }
}

.modal__form .text-box {
    width: 100%;
    height: 50px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6666;
    display: none;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* ーーーーーーーーーーーーーーーーーー

.kv

ーーーーーーーーーーーーーーーーーー */
.kv {
    background: url(../img/bg/kv.png) center center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: clamp(2.5rem, 0.7394rem + 7.5117vw, 7.5rem);
    padding-bottom: clamp(3rem, -0.3891rem + 14.4601vw, 12.625rem);
}

.kv model-viewer#reveal {
    /* ポスター色を透明に設定 */
    --poster-color: transparent;
    transform: rotate(17deg);
    position: absolute;
    top: 9.5%;
    right: 12.5%;
    width: 25%;
    height: 84%;
}
@media (max-width: 768px) {
    .kv model-viewer#reveal {
        /* 通常の文書の流れに従って配置 */
        position: static;
        width: 50%;
        height: 320px;
        margin-top: 40px;
    }
}

.kv::before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url(../img/bg/kv_mask.png);
    background-repeat: no-repeat;
    /* 背景画像を右寄せに配置 */
    background-position: right;
    /* 要素の中に収まるように拡大・縮小 */
    background-size: contain;
    /* 背景と明るさベースで合成（明るい方が残る） */
    mix-blend-mode: lighten;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .kv::before {
        background-image: url(../img/bg/kv_mask_sp.png);
        /* 背景の位置を 横:中央、縦:23% に配置 */
        background-position: center 23%;
    }
}

.kv__wrapper {
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .kv__wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.kv__body {
    width: 58.4%;
    margin-top: 152px;
}
@media (max-width: 768px) {
    .kv__body {
        width: 100%;
        margin-top: -18px;
    }
}

.kv__body__logo {
    width: 425px;
    height: 30px;
}
@media (max-width: 768px) {
    .kv__body__logo {
        margin: 0 auto;
    }
}
@media (max-width: 575px) {
    .kv__body__logo {
        width: 100%;
    }
}

.kv__body__title {
    position: relative;
    width: 100%;
    height: 268px;
}
@media (max-width: 768px) {
    .kv__body__title {
        height: 120px;
    }
}

.kv__body__title::before {
    position: absolute;
    left: 12.3%;
    content: "";
    background: url(../img/common/kv_infinity_symbol@2x.png) center center / contain no-repeat;
    /* 「乗算（multiply）」と「スクリーン（screen）」を組み合わせた合成(コントラストが強調されて、立体感・インパクトが出るように) */
    mix-blend-mode: overlay;
    width: 75.3%;
    height: 100%;
}

.kv__body__title img {
    position: absolute;
    height: 100%;
}

.kv__body__text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44791667;
    letter-spacing: 0.1em;
    text-shadow: 0px 0px 8px rgba(2, 0, 102, 0.6);
    color: #fff;
    text-align: left;
    margin-top: 24px;
    width: 100%;
}
@media (max-width: 575px) {
    .kv__body__text {
        font-size: 1.125rem;
        letter-spacing: inherit;
        margin-top: 16px;
    }
}

/* ーーーーーーーーーーーーーーーーーー

.concept

ーーーーーーーーーーーーーーーーーー */
.concept.hide::before {
    content: "";
    background-color: #333;
    background-image: url(../img/bg/concept.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* 背景色 × 背景画像の色成分を乗算することで、全体が暗く引き締まった印象にする */
    background-blend-mode: multiply;
    /* CSS の初期値（デフォルト）で、「通常の文書フロー」に従って配置 */
    position: static;
    top: 0;
    width: 100%;
    /* 疑似要素の最低の高さを「ビューポートの高さ」と同じにする */
    min-height: 100vh;
    z-index: -10;
}

.concept {
    padding: 60px 0;
}
@media (max-width: 768px) {
    .concept {
        padding: 30px 0;
    }
}

.concept::before {
    content: "";
    background-color: #333;
    background-image: url(../img/bg/concept.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--background-size);
    background-blend-mode: multiply;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    z-index: -10;
}

.concept__contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 上から60pxの位置でスクロールに追従する「sticky（くっつき）」要素として表示 */
.concept__contents__title {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    display: inline-block;
    width: 7.5%;
    height: 100%;
    margin: 60px 3% 0 0;
}
@media (max-width: 768px) {
    .concept__contents__title {
        top: 30px;
        width: 16.3%;
        margin: 30px 3% 0 0;
    }
}
@media (max-width: 375px) {
    .concept__contents__title {
        width: 24.3%;
    }
}

.concept__contents__inner {
    display: flex;
    justify-content: space-between;
}

.concept__contents__left {
    width: 27%;
}
@media (max-width: 768px) {
    .concept__contents__left {
        width: 12.4%;
    }
}

.concept__contents__left__name {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    margin-top: 60px;
    width: auto;
    /* opacity: 0; */
    /* 不透明度（opacity）の変化に対して、0.5秒かけて滑らかに移行（トランジション）させます。イージング（変化の速度）は ease で、開始の遅延はなし */
    transition: opacity 0.5s ease 0s;
}
@media (max-width: 768px) {
    .concept__contents__left__name {
        top: 30px;
        margin-top: 30px;
    }
}

.concept__contents__left__name.show {
    opacity: 1;
}

.concept__contents__left__name.green, .concept__contents__left__name.hot {
    padding-left: 9%;
}
@media (max-width: 768px) {
    .concept__contents__left__name.green, .concept__contents__left__name.hot {
        padding-left: 24%;
    }
}

.concept__contents__right {
    width: 69.5%;
    padding: 61px 0;
    color: #fff;
}
@media (max-width: 768px) {
    .concept__contents__right {
        width: 80.6%;
        padding: 30px 0;
    }
}

.concept__contents__right__img {
    position: relative;
}

.concept__contents__right__img::before {
    position: absolute;
    content: "";
    background-image: url(../img/common/MixedBerry_triangle@2x.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    /* 背景色との差が大きい部分は明るくなり、差が小さい部分は暗くなる。 */
    mix-blend-mode: difference;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.concept__contents__right__img.green::before {
    position: absolute;
    content: "";
    background-image: url(../img/common/GreenFusiton_triangle@2x.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    /* 背景色との差が大きい部分は明るくなり、差が小さい部分は暗くなる。 */
    mix-blend-mode: difference;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.concept__contents__right__img.hot::before {
    position: absolute;
    content: "";
    background-image: url(../img/common/HotBlaze_triangle@2x.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    /* 背景色との差が大きい部分は明るくなり、差が小さい部分は暗くなる。 */
    mix-blend-mode: difference;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.concept__contents__right__img__item {
    width: 30.9%;
    padding-top: clamp(2.25rem, 1.1056rem + 4.8826vw, 5.5rem);
    margin: 0 auto;
}
@media (max-width: 768px) {
    .concept__contents__right__img__item {
        width: 28.9%;
    }
}

.concept__contents__right__title {
    margin-top: 55px;
    font-size: clamp(1.625rem, 1.2729rem + 1.5023vw, 2.625rem);
    font-weight: 500;
    line-height: 0.952380952;
    letter-spacing: 0.1em;
    text-align: center;
}
@media (max-width: 768px) {
    .concept__contents__right__title {
        width: 93%;
        line-height: 1.538461538;
        margin: 19.5px auto 0 auto;
    }
}

.concept__contents__right__title.hot {
    letter-spacing: 0.02em;
}
@media (max-width: 768px) {
    .concept__contents__right__title.hot {
        letter-spacing: 0.1em;
    }
}

.concept__contents__right__text {
    margin-top: 35px;
    font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
    letter-spacing: 0.1em;
}
@media (max-width: 768px) {
    .concept__contents__right__text {
        margin-top: 0.5rem;
    }
}

.concept__contents__right__bottom {
    margin-top: 52.5px;
    display: flex;
    justify-content: space-between;
    gap: 4.2%;
}
@media (max-width: 768px) {
    .concept__contents__right__bottom {
        margin-top: 8px;
        flex-direction: column;
        align-items: center;
    }
}

.concept__contents__right__bottom__button {
    width: 18.75rem;
    min-width: 240px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
    line-height: 1.8;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
    .concept__contents__right__bottom__button {
        margin-top: 1.25rem;
        width: 100%;
        height: 50px;
    }
}

.concept__contents__right__bottom__button.mixed {
    background: linear-gradient(125.88deg, #128FCD -1.47%, #B3D6E0 50.9%, #DC24B1 100.83%);
}

.concept__contents__right__bottom__button.green {
    background: linear-gradient(90deg, #03B10F 0%, #3CFFB9 27.69%, #E7F91B 56.55%);
}

.concept__contents__right__bottom__button.hot {
    background: linear-gradient(90deg, #B00202 0%, #FF8A00 29.18%, #E83A54 58.97%);
}

/* ーーーーーーーーーーーーーーーーーー

.who

ーーーーーーーーーーーーーーーーーー */
.who {
    padding: 80px 0 120px 0;
    background-color: #F5F5F5;
    position: relative;
}
@media (max-width: 768px) {
    .who {
        padding: 52px 0 60px 0;
    }
}

.who .sec__title {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
}
@media (max-width: 768px) {
    .who .sec__title {
        top: 60px
    }
}

.who .sec__title__img {
    background: url(../img/common/INFINITY_ENERGY_Stroke.png) repeat-x;
    background-size: auto 100%;
    position: relative;
    width: 100%;
    height: 103px;
    -webkit-animation: bg-slider 23s linear infinite;
    animation: bg-slider 23s linear infinite;
    padding: 0;
}
@media (max-width: 768px) {
    .who .sec__title__img {
        height: 53px;
        -webkit-animation: bg-slider 40s linear infinite;
        animation: bg-slider 40s linear infinite;
    }
}
@-webkit-keyframes bg-slider {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1605px 0;
    }
}
@keyframes bg-slider {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1605px 0;
    }
}

.who__contents {
    display: flex;
    border-radius: 16px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1019607843);
    margin-top: 60px;
}
@media (max-width: 768px) {
    .who__contents {
        margin-top: 27px;
        flex-direction: column-reverse;
    }
}

.who__contents__list {
    width: 50%;
    background-color: #fff;
    /* - 左上：16px- 右上：0px- 右下：0px- 左下：16px */
    border-radius: 16px 0 0 16px;
    padding: 3.25rem;
}
@media (max-width: 768px) {
    .who__contents__list {
        width: 100%;
        border-radius: 0 0 16px 16px;
    }
}
@media (max-width: 575px) {
    .who__contents__list {
        padding: 1.25rem;
    }
}

.who__contents__list__box {
    display: flex;
    align-items: center;
    margin-top: 1.75rem;
}

.who__contents__list__box:first-child {
    margin-top: 0;
}
@media (max-width: 768px) {
    .who__contents__list__box {
        justify-content: space-between;
        margin-top: 20px;
    }
}

.who__contents__list__box__text {
    font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: 0.1em;
    text-align: left;
    margin-right: 1.25rem;
}

.who__contents__list__box__toggle {
    display: inline-block;
    position: relative;
    min-width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922) inset;
    cursor: pointer;
    transition: background-color 0.4s;
    /* モバイルでのタップ時の青いハイライトを消す */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Safariなどのブラウザのデフォルトスタイルを無効化 */
    -webkit-appearance: none;
    /* Firefoxのブラウザのデフォルトスタイルを無効化 */
    -moz-appearance: none;
    /* 全体のブラウザでの標準スタイルを無効化 */
    appearance: none;
}

.who__contents__list__box__toggle:has(:checked) {
    background-color: #FF0000;
}

.who__contents__list__box__toggle::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2509803922);
    transition: left 0.4s;
}

.who__contents__list__box__toggle:has(:checked)::after {
    left: 25px;
}

.who__contents__list__box__toggle input {
    display: none;
}

.who__contents__area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 50%;
    background: linear-gradient(180.42deg, #128FCD -19.01%, #B3D6E0 50.12%, #DC24B1 116.04%);
    border-radius: 0 16px 16px 0;
    padding: 1.3rem 2.5rem;
}
@media (max-width: 768px) {
    .who__contents__area {
        width: 100%;
        border-radius: 16px 16px 0 0;
        padding: 22px 18px 21px 18px;
        height: 251px;
    }
}

.who__contents__area__img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 122px;
}
@media (max-width: 768px) {
    .who__contents__area__img {
        width: 96px;
    }
}

.who__contents__area__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 768px) {
    .who__contents__area__wrap {
        width: 80%;
    }
}
@media (max-width: 375px) {
    .who__contents__area__wrap {
        width: 100%;
    }
}

.who__contents__area__circle {
    width: 117px;
    height: 117px;
    /* opacity: 0; */
    transition: opacity 0.5s ease 0s;
    z-index: 10;
}
@media (max-width: 768px) {
    .who__contents__area__circle {
        width: 94px;
        height: 94px;
    }
}

.who__contents__area__circle.show {
    opacity: 1;
}

/* ーーーーーーーーーーーーーーーーーー

.what

ーーーーーーーーーーーーーーーーーー */
.what {
    padding: 120px 0;
    background-color: #fff;
}
@media (max-width: 768px) {
    .what {
        padding: 60px 0;
    }
}

.what__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 16px;
    margin-top: 80px;
}
@media (max-width: 768px) {
    .what__slider {
        margin-top: 40px;
    }
}

.what__slider__before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 38.8%;
    height: 100%;
    border-right: 6px solid #fff;
}
@media (max-width: 768px) {
    .what__slider__before {
        width: 35.5%;
        border-right: 2px solid #fff;
    }
}

.what__slider__before.no-border {
    border-right: none;
}

.what__slider__before img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* 古いOpera向けのカバー指定 */
    -o-object-fit: cover;
    object-fit: cover;
    /* Opera向けの位置調整 */
    -o-object-position: left center;
    object-position: left center;
}

.what__slider__before::before {
    position: absolute;
    content: "";
    background-image: url(../img/common/what_slider_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    top: 44%;
    right: -30px;
    bottom: 0;
    width: 54px;
    height: 54px;
}
@media (max-width: 768px) {
    .what__slider__before::before {
        width: 30px;
        height: 30px;
        right: -15px;
    }
}

.what__slider__range {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* opacity: 0; */
    cursor: pointer;
}

.what__slider__text {
    font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
    font-weight: 500;
    line-height: 1.448125;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 30px;
}
@media (max-width: 768px) {
    .what__slider__text {
        text-align: left;
        margin-top: 18px;
    }
}

.what__contents {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(125.88deg, #128FCD -1.47%, #B3D6E0 50.9%, #DC24B1 100.83%);
    margin-top: clamp(2rem, 1.3838rem + 2.6291vw, 3.75rem);
    padding: 3.4% 7.3%;
}
@media (max-width: 575px) {
    .what__contents {
        padding: 1.5rem;
    }
}

.what__contents__wrap {
    display: flex;
    gap: 7.4%;
    align-items: center;
}
@media (max-width: 575px) {
    .what__contents__wrap {
        flex-direction: column;
        justify-content: center;
        gap: 46px;
    }
}

.what__contents__img {
    position: relative;
    width: 290px;
}
@media (max-width: 575px) {
    .what__contents__img {
        width: 90%;
        margin-top: 27px;
    }
}

.what__contents__img__parts {
    position: absolute;
    top: -23%;
    left: 56%;
    width: 45%;
}

.what__contents__text {
    font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
    font-weight: 700;
    line-height: 1.447916666;
    letter-spacing: 0.1em;
    color: #fff;
}

.what__contents__text .sp {
    display: none;
}
@media (max-width: 575px) {
    .what__contents__text .sp {
        display: block;
    }
}

.what__contents__text p {
    margin-top: 1rem;
}
@media (max-width: 575px) {
    .what__contents__text p {
        margin-top: 1.25rem;
        text-align: center;
    }
}

.what__contents__text p:first-child {
    margin-top: 0;
}

/* ーーーーーーーーーーーーーーーーーー

.product

ーーーーーーーーーーーーーーーーーー */
.product {
    padding: 120px 0;
    background-color: #000;
    color: #fff;
}
@media (max-width: 768px) {
    .product {
        padding: 60px 0 53px 0;
    }
}

.product__swiper {
    margin-top: clamp(2.5rem, 1.6197rem + 3.7559vw, 5rem);
}

.product .swiper-slide {
    overflow: hidden;
}

.product .swiper-slide img {
    width: 100%;
    height: 100%;
}

.product .swiper__sp {
    display: none;
}
@media (max-width: 768px) {
    .product .swiper__sp {
        display: block;
    }
}

.product .swiper__sp .swiper {
    width: 100%;
}

.product .swiper__pc {
    display: block;
}
@media (max-width: 768px) {
    .product .swiper__pc {
        display: none;
    }
}

.product .swiper__pc .swiper {
    width: 33.4%;
}

.product .swiper__pc .product__swiper {
    display: flex;
}

.product__wrapper {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .product__wrapper {
        margin-top: 0;
        align-items: center;
    }
}

.product__info {
    width: 29%;
}
@media (max-width: 768px) {
    .product__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 44px;
    }
    .product__info:first-child {
        margin-top: 40px;
    }
}

.product__info__head {
    position: relative;
    width: 100%;
    max-width: 290px;
}

.product__info__head__title {
    font-family: "Orbitron";
    font-size: 37px;
    line-height: 1.081081081;
    letter-spacing: 0.1em;
    text-align: left;
    color: #fff;
    width: 100%;
    background: linear-gradient(85.69deg, #128FCD 3.5%, #B3D6E0 30.59%, #DC24B1 56.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product__info__head__title.green {
    background: linear-gradient(90deg, #03B10F 0%, #3CFFB9 27.69%, #E7F91B 56.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product__info__head__title.hot {
    background: linear-gradient(90deg, #B00202 0%, #FF8A00 29.18%, #E83A54 58.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product__info__head__title__detail {
    font-size: 0.875rem;
    line-height: 1.785714285;
    margin-top: 23px;
}

.product__info__head__title__detail span {
    display: block;
    font-family: "Orbitron";
    line-height: 1.666666666;
    margin-top: 8px;
}

.product__info__head__title__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 27.5862068966%;
}

.product__info__body {
    min-height: 259px;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.571428571;
    margin-top: 42px;
}
@media (max-width: 768px) {
    .product__info__body {
        min-height: 193px;
        font-size: 0.875rem;
        margin-top: 26px;
    }
    .product__info__body.hot {
        min-height: 171px;
    }
}

.product__info__body__title {
    font-weight: 700;
}

.product__info__body__detail {
    margin-top: 20px;
}
@media (max-width: 768px) {
    .product__info__body__detail {
        height: auto;
        margin-top: 15px;
    }
}

.product__info__footer {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 21px;
}

.product__info__footer span {
    font-size: 24px;
    padding-right: 4px;
}
@media (max-width: 768px) {
    .product__info__footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 18px;
    }
}

.product span {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

/* ーーーーーーーーーーーーーーーーーー

.sv

ーーーーーーーーーーーーーーーーーー */
.sv {
    position: relative;
    height: 100%;
}

.sv__title {
    position: absolute;
    top: 77.5%;
    left: 53.8%;
    width: 41%;
    height: 11%;
    z-index: 100;
}
@media (max-width: 575px) {
    .sv__title {
        width: 85.4%;
        top: 48.7%;
        left: 7%;
    }
}

.sv__item__img {
    position: absolute;
    top: 10%;
    left: 39.5%;
    width: 34.5%;
    z-index: 100;
}
@media (max-width: 575px) {
    .sv__item__img {
        width: 71.3%;
        top: 23%;
        left: 18.6%;
    }
}